name: Code Reviewer
on: 
  pull_request:
    types: [opened, reopened, synchronize]
    branches: [main, develop]
jobs:
  ai-code-review:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v5
        with: 
          fetch-depth: 0
          token: ${{secrets.GITHUB_TOKEN}}
      
      - name: Get Changed files
        id: changed-files
        uses: tj-actions/changed-files@v44
        with:
          files: | 
            **/*.py
            **/*.js
            **/*.ts
            **/*.jsx
            **/*.tsx
            **/*.java
            **/*.cpp
            **/*.c
            **/*.cs
            **/*.go
            **/*.rs
            **/*.php
            **/*.rb
            **/*.swift
            **/*.kt
            **/*.scala
          separator: ','
      
      - name: Setup Python
        if: steps.changed-files.outputs.any_changed == 'true'
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      
      - name: Install dependencies
        if: steps.changed-files.outputs.any_changed == 'true'
        run: |
          python -m pip install --upgrade pip
          pip install -r .github/requirements.txt
      - name: Run AI Code Reviewer
        if: steps.changed-files.outputs.any_changed == 'true'
        env: 
          PROJECT_ID: ${{secrets.PROJECT_ID}}
          LOCATION: ${{secrets.LOCATION}}
          PRODUCT_API_KEY: ${{secrets.PRODUCT_API_KEY}}
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
          PR_NUMBER: ${{ github.event.number }}
          REPO_NAME: ${{ github.repository }}
          CHANGED_FILES: ${{ steps.changed-files.outputs.all_changed_files }}
        run: |
          python .github/scripts/ai_code_review.py      
